<html>
    <head>
        <title>Blog app</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" >
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css" >
    </head>
    <body>
        <div class="ui container">
            <div class="ui menu inverted">
                <div class="ui container">
                    
                    <div class="header item">
                        <a href="/" class="item"><i class="blogger icon"></i>Blog</a>
                    </div>
                    
                   
                        <a href="/" class="item">Home</a>
                        <a href="/blogs/new" class="item">Create</a>
                  
                </div>
                    
                </div>
               