i.icon {
    font-size: 1.5em;
    margin-right: 0 !important;
    margin-bottom: 5% !important;
}
body{
    min-height: 100%;
}
a {
    font-size: 1rem;
}
div.field{
    margin-bottom: 10px !important;
}
.menu{
    height: 5%;
}
.ui.segment {
    padding: 10%;
}
#formbox {
    width:50%;
    box-shadow: 5px 10px #f6f6f6;
}
p {
    text-align: justify;
}